.eventList1{
    background-image: url('../../public/pexels-brett-sayles-3733925\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    .leftPart{
        width: 50%;
        text-align: left;
        margin: 0;
        padding: 0;
        .eventLogo1{
            padding-left: 2.815vw;
            padding-top: 5vh;
            color: #FFF;
            font-family: Abel;
            font-size: 181px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .eventLogo2{
            padding-top: 0px;
            padding-left: 2.815vw;
            color: #FFF;
            font-family: Abel;
            font-size: 181px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .rightPart{
        width: 50%;
        text-align: right;
        margin: 0;
        padding: 0;
        .date{
            padding-top: 5.9vh;
            padding-right: 1.92vw;
            color: #FFF;
            font-family: Abel;
            font-size: 104px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .title1{
            padding-top: 0;
            padding-right: 4.06vw;
            color: #FFF;
            font-family: Abel;
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .title2{
            padding-top: 2.6vh;
            padding-right: 4.06vw;
            color: #FFF;
            font-family: Abel;
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .title3{
            padding-right: 4.06vw;
            color: #FFF;
            font-family: Abel;
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .title4{
            padding-top: 2.6vh;
            padding-right: 4.06vw;
            color: #FFF;
            font-family: Abel;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
        }
    }
}
.eventList2{
    display: block;
    margin: 0;
    padding: 0;
    .title{
        padding-left: 2.86vw;
        padding-top: 3.8vh;
        color: #000;
        font-family: Abel;
        font-size: 90px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .list{
        padding-left: 2.86vw;  
        padding-top: 1.94vh;
        
        color: #AD00FF;
        font-family: Abel;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.eventList3{
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 2.86vw; 
    margin-right: 2.86vw;
    .left{
        width: 33%;
        padding-right: 5px;
    }.left:hover{cursor: pointer;}
    .middle{
        width: 34%;
        padding-left: 5px;
        padding-right: 5px;
    }.middle:hover{cursor: pointer;}
    .right{
        width: 33%;
        padding-left: 5px;
    }.right:hover{cursor: pointer;}
}
.eventList4{
    margin-top: 6vh;
    margin-bottom: 65vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 2.86vw; 
    margin-right: 2.86vw;
    .left{
        width: 33%;
        padding-right: 5px;
    }.left:hover{cursor: pointer;}
    .middle{
        width: 34%;
        padding-left: 5px;
        padding-right: 5px;
    }.middle:hover{cursor: pointer;}
    .right{
        width: 33%;
        padding-left: 5px;
    }.right:hover{cursor: pointer;}
}
.contact{
    display: none;
}


@media only screen and (max-width: 1000px){
    .eventList1{
        .leftPart{
            .eventLogo1{
                font-size: 151px;
            }
            .eventLogo2{
                font-size: 151px;
            }
        }
    }
}
@media only screen and (max-width: 850px){
    .eventList1{
        background-image: url('../../public/event2.png');
        flex-direction: column;
        flex-direction: column-reverse;

        .leftPart{
            padding-top: 300px;
            .eventLogo1{
                font-size: 121px;
            }
            .eventLogo2{
                font-size: 121px;
            }
        }
        .rightPart{
            width: 50%;
            text-align: left;
            padding-left: 37px;
            .date{
                font-size: 70px;
            }
            .title1{
                font-size: 39px;
            }
            .title2{
                font-size: 39px;
            }
            .title3{
                font-size: 39px;
            }
            .title4{
                font-size: 39px;
            }
        }
    }
    .eventList2{
        .title{
            font-size: 60px;
        }
        .list{
            
            font-size: 15px;
        }
    }
    .eventList3{
        flex-direction: column;
        .left{
            width: 100%;
            padding-right: 5px;
            margin-bottom: 45px;
        }
        .middle{
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 45px;
        }
        .right{
            width: 100%;
            padding-left: 5px;
            margin-bottom: 45px;
        }
    }
    .eventList4{
        flex-direction: column;
        .left{
            width: 100%;
            padding-right: 5px;
            margin-bottom: 45px;
        }
        .middle{
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 45px;
        }
        .right{
            width: 100%;
            padding-left: 5px;
            margin-bottom: 45px;
        }
        margin-bottom: 10px;
    }
    .contact{
        display: block;
    }
}

