.fullHeightImge{
    background-image: url('/pexels-brett-sayles-3733925\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(94vh);
}